body {
  background-color: #ebe9d7;
  
}


.BEM-VINDO-AO-EMPRESA {
  width: 232px;
  height: 32px;
  font-family: Roboto;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #383743;
  text-align: center;
}
.Lorem-ipsum-dolor-si {
  width: 286.9px;
  height: 26px;
  font-family: Roboto;
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: -0.13px;
  text-align: center;
  color: var(--charcoal-grey);

}

.text-line {
  background-color: transparent;
  color: #383743;
  outline: none;
  outline-style: none;
  outline-offset: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  align-items: center;
  border-bottom: solid #383743 1px;
  padding: 3px 10px;
}

.email-pass {
  width: auto !important;
}

.Rectangle-26 {
  width: 266.9px;
  height: 50.4px;
  border-radius: 2.8px;
  background-color: #57bbbc;
  border-style: none;
}

.ENTER {

  width: 35px;
  height: 12px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

}

.paddingtop{
  padding-top: 12em;
}

.blur {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.loading {
  font-size: 120px;
  color: #57bbbc;
}

.loading-container {
  height: 100%;
  width: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.paddingTop50 {
  padding-top: 60%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% {  transform: rotate(359deg); }
}
#loading {
  animation: spin 2s linear infinite;

}

.background {
  height: 122.6px;
  background-image: linear-gradient(182deg, #ee4c77 10%, #0d0430 158%);
  border: solid 0.5px #979797;
  background-color: #ffffff;
}

.logo-nav {
  text-align: center;
}


.row {
  width: 100% !important;
}

.text-line-search {
  background-color: transparent;
  outline: none;
  outline-style: none;
  outline-offset: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  align-items: center;
  border-bottom: none;
   padding-left: 5px;
  
  font-size: 22px;
}

.text-line-search::placeholder {
  color: #991237;
  
}

.underline {
  border-bottom: solid white 2px;
  margin: auto;
}
.Clique-na-busca-para {
  width: 500px;
  height: 19.5px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 20.22;
  letter-spacing: -0.23px;
  text-align: center;
  color: #383743

  ;
}

.base {
margin: 26px;
  height: 200.9px;
  border-radius: 2.4px;
  background-color: #ffffff;
}

.Mask {
  width: 146.2px;
  height: 160px;
  background-color: #7dc075;
}

.Empresa1 {
  width: 153.1px;
  height: 19.5px;
  font-family: Roboto;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a0e49 ;
}